@tailwind base;
@tailwind components;
@tailwind utilities;

.herosection {
    background-image:
        linear-gradient(to bottom, #0000004b, #0000004b),
        url('../asstes/img/mainbg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}