@tailwind base;
@tailwind components;
@tailwind utilities;

.herosection {
    background-image:
        linear-gradient(to bottom, #000000be, #000000be),
        url('../asstes/img/homebg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    color: white;
}