@tailwind base;
@tailwind components;
@tailwind utilities;

.herosection {
    background-image:
        linear-gradient(to bottom, #000000be, #000000be),
        url('../asstes/img/homebg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    color: white;
}

.weather-page {
    background-image:
        linear-gradient(to bottom, #00000040, #00000040),
        url('../asstes/img/weatherbg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}